<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Installer</title>

    <link rel="icon" type="image/png" href="/images/vives-logo.png">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/libs/tailwind.css' />
    <link rel="stylesheet" href="/stylesheets/libs/custom-forms.min.css">
    <script src="/scripts/libs/axios.min.js"></script>
    <script src="/scripts/libs/socket.io.js"></script>
</head>

<body class="bg-gray-100">
    <%- include('../components/header.ejs'); %>

        <!--Container-->
        <div class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-16">

            <script>
                var socket = io();
                socket.on('connect', function () { });
                socket.on('event', function (data) { console.log(data) });
                socket.on('disconnect', function () { });
            </script>


            <!--Section container-->
            <section class="w-full lg:w-4/5 mx-auto">

                <!--Title-->
                <h1
                    class="flex items-center font-sans font-bold break-normal text-gray-700 px-2 text-xl mt-12 lg:mt-0 md:text-2xl">
                    Vives Climate Monitor Installer
                </h1>

                <!--divider-->
                <hr class="bg-gray-300 my-12">

                <%- include('../components/wifiForm.ejs'); %>

                <!--divider-->
                <hr class="bg-gray-300 my-12">

                <%- include('../components/settingsForm.ejs'); %>

                <!--divider-->
                <hr class="bg-gray-300 my-12">
                
                <%- include('../components/advancedSettingsForm.ejs'); %>

                <!--divider-->
                <hr class="bg-gray-300 my-12">

                <%- include('../components/controlLeds.ejs'); %>

                <!--divider-->
                <hr class="bg-gray-300 my-12">

                <%- include('../components/exportWebhook.ejs'); %>

                <!--divider-->
                <hr class="bg-gray-300 my-12">

                <%- include('../components/exportDB.ejs'); %>

                <!--divider-->
                <hr class="bg-gray-300 my-12">

                <%- include('../components/change-pswd.ejs'); %>

                <!--divider-->
                <hr class="bg-gray-300 my-12">

                <%- include('../components/confirmForm.ejs'); %>
            </section>
            <!--/Section container-->
            <script>
                function setMessage(cont, el, msg) {
                    document.getElementById(cont).classList.remove('hidden')
                    document.getElementById(el).innerHTML = msg
                    setTimeout(() => {
                        document.getElementById(cont).classList.add('hidden')
                        document.getElementById(el).innerHTML = ""
                    }, 5000)
                }

                function clearMessage(cont, el) {
                    document.getElementById(cont).classList.add('hidden')
                    document.getElementById(el).innerHTML = ""
                }

            </script>

        </div>
</body>

</html>