<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logs</title>

    <link rel="icon" type="image/png" href="/images/vives-logo.png">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/libs/tailwind.css' />
    <script src="/scripts/libs/axios.min.js"></script>
    <link href="/stylesheets/libs/custom-forms.min.css" rel="stylesheet">
    <script src="/scripts/libs/socket.io.js"></script>
</head>

<body class="bg-gray-100">
    <%- include('../components/header.ejs'); %>

    <!--Container-->
    <div class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-16">


        <!--Section container-->
        <section class="w-full mx-auto">
            <%- include('../components/logTable.ejs'); %>


        </section>
        <!--/Section container-->
        <script>
            function setMessage(cont, el, msg) {
                document.getElementById(cont).classList.remove('hidden')
                document.getElementById(el).innerHTML = msg
                setTimeout(() => {
                    document.getElementById(cont).classList.add('hidden')
                    document.getElementById(el).innerHTML = ""
                }, 5000)
            }

            function clearMessage(cont, el) {
                document.getElementById(cont).classList.add('hidden')
                document.getElementById(el).innerHTML = ""
            }
        </script>

    </div>
</body>

</html>