<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/images/vives-logo.png">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/libs/tailwind.css' />
    <link rel="stylesheet" href="/stylesheets/libs/custom-forms.min.css">

    <script src="/scripts/libs/axios.min.js"></script>
    <script src="/scripts/libs/Chart.min.js"></script>
    <script src="/scripts/libs/socket.io.js"></script>
    <script src="/scripts/measurements.js"></script>

    <script src="/build/qrcode.min.js"></script>
</head>

<body class="bg-gray-100">
    <%- include('../components/header.ejs'); %>
        <!--Container-->
        <div class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-16">
            <!--Section container-->
            <section class="w-full lg:w-4/5 mx-auto">
                <main class="py-4 container">
                    <div class="container text-center">
                        <%- include('../components/currentData.ejs'); %>
                        <br>
                        <%- include('../components/lineChart.ejs'); %>
                        <br>
                        <%- include('../components/qrCode.ejs'); %>
                    </div>
                </main>
            </section>
            <!--/Section container-->

            <script>
                function setMessage(cont, el, msg) {
                    document.getElementById(cont).classList.remove('hidden')
                    document.getElementById(el).innerHTML = msg
                    setTimeout(() => {
                        document.getElementById(cont).classList.add('hidden')
                        document.getElementById(el).innerHTML = ""
                    }, 5000)
                }

                function clearMessage(cont, el) {
                    document.getElementById(cont).classList.add('hidden');
                    document.getElementById(el).innerHTML = "";
                }

                var image = document.getElementById('imgQR');
                image.src = '/images/QRcode.png';
                image.style.width = "45%";
                image.style.height = image.style.width;
                image.style.border = "5px solid #000" //#E31D1A - red
                image.style.borderRadius = "5%"

            </script>
        </div>
</body>

</html>