<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/images/vives-logo.png">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/measurements.css' />
    <link rel='stylesheet' href='/stylesheets/libs/tailwind.css' />
    <link rel="stylesheet" href="/stylesheets/libs/custom-forms.min.css">

    <script src="/scripts/libs/axios.min.js"></script>
    <script src="/scripts/libs/Chart.min.js"></script>
    <script src="/scripts/libs/socket.io.js"></script>
    <script src="/scripts/measurements.js"></script>

    <script src="/build/qrcode.min.js"></script>
</head>

<body class="bg-gray-100">
    <%- include('../components/header.ejs'); %>

    The WebApp is offline !
</body>

</html>