.max-h-64 {
  max-height: 16rem !important;
}

/*Quick overrides of the form input as using the CDN version*/
.form-input,
.form-textarea,
.form-select,
.form-multiselect {
  background-color: #edf2f7 !important;
}


input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  cursor: ew-resize;
  background:#C53530;
  box-shadow: -405px 0 0 400px #a8a8a8;
  border-radius: 50%;

}
