<!--Title-->
<h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Advanced settings</h2>

<!--error-->
<div id='AdvancedSettingsErrorMessageContainer' class="hidden py-3 px-8 mt-6 mx-auto text-center rounded shadow bg-red-400">
    <h2 id="AdvancedSettingsErrorMessage"></h2>
</div>
<!--error-->
<!--success-->
<div id='AdvancedSettingsSuccessMessageContainer' class="hidden py-3 px-8 mt-6  mx-auto text-center text-lg rounded shadow bg-green-300">
    <h2 id="AdvancedSettingsSuccessMessage"></h2>
</div>
<!--success-->

<!--Card-->
<div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">

    <form>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="showAdvancedSettings">
                    Show advanced settings
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-checkbox text-indigo-600" id="showAdvancedSettings" type="checkbox" onchange="showAdSetChanged()">
            </div>
        </div>
        <div class="hidden mb-6" id="co2OffsetContainer">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="co2Offset">
                    CO2 offset (ppm)
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="co2Offset" type="text"
                    value="<%= config.co2Offset == 0 ? "None" : config.co2Offset %>">
            </div>
        </div>

        <div class="hidden mb-6" id="tvocOffsetContainer">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="tvocOffset">
                    TVOC offset (ppb)
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="tvocOffset" type="text"
                    value="<%= config.tvocOffset == 0 ? "None" : config.tvocOffset %>">
            </div>
        </div>

        <div class="hidden mb-6" id="tempOffsetContainer">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="tempOffset">
                    Temperature offset (°C)
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="tempOffset" type="text"
                    value="<%= config.tempOffset == 0 ? "None" : config.tempOffset %>">
            </div>
        </div>

        <div class="hidden mb-6" id="humOffsetContainer">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="humOffset">
                    Humidity offset (%)
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="humOffset" type="text"
                    value="<%= config.humOffset == 0 ? "None" : config.humOffset %>">
            </div>
        </div>

        <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
                <button
                    class="shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button" id="saveAdvancedSettingsBtn" onclick="saveAdvancedSettings()">
                    Save
                </button>
            </div>
        </div>
    </form>

    <script>
        function showAdSetChanged() {
            show = document.getElementById('showAdvancedSettings')
            containers = [document.getElementById('co2OffsetContainer'),
                            document.getElementById('tvocOffsetContainer'),
                            document.getElementById('tempOffsetContainer'),
                            document.getElementById('humOffsetContainer'),
                        ]
            if(!show.checked){
                containers.forEach(container => {
                container.classList.add('hidden')
                container.classList.remove('md:flex')
                });
            } else {
                containers.forEach(container => {
                container.classList.remove('hidden')
                container.classList.add('md:flex')
                });
            }
        }

        function saveAdvancedSettings() {
            // check double click
            var btn = document.getElementById("saveAdvancedSettingsBtn");
            if(btn.classList.contains("doubleClick")) {
                // check data
                const co2Offset = document.getElementById('co2Offset')
                const tvocOffset = document.getElementById('tvocOffset')
                const tempOffset = document.getElementById('tempOffset')
                const humOffset = document.getElementById('humOffset')
                const config = { co2Offset: co2Offset.value,
                    tvocOffset: tvocOffset.value,
                    tempOffset: tempOffset.value,
                    humOffset: humOffset.value,
                }
                // save settings on module
                axios.post('/saveAdvancedSettings', config).then((res) => {
                    co2Offset.value = res.data.co2Offset == 0 ? "None" : res.data.co2Offset
                    tvocOffset.value = res.data.tvocOffset == 0 ? "None" : res.data.tvocOffset
                    tempOffset.value = res.data.tempOffset == 0 ? "None" : res.data.tempOffset
                    humOffset.value = res.data.humOffset == 0 ? "None" : res.data.humOffset
                }).then(() => {
                    setMessage('AdvancedSettingsSuccessMessageContainer', 'AdvancedSettingsSuccessMessage', 'Settings saved successfully!')
                    clearMessage('AdvancedSettingsErrorMessageContainer', 'AdvancedSettingsErrorMessage')
                }).catch(() => {
                    setMessage('AdvancedSettingsErrorMessageContainer', 'AdvancedSettingsErrorMessage', 'Something went wrong!')
                    clearMessage('AdvancedSettingsSuccessMessageContainer', 'AdvancedSettingsSuccessMessage')
                })
            } else {
                btn.classList.remove("bg-red-700");
                btn.classList.remove("hover:bg-red-600");
                btn.classList.add("bg-yellow-600");
                btn.classList.add("hover:bg-yellow-500");
                btn.innerText = "Sure?";
                // add class so we can see that btn has already been clicked
                btn.classList.add("doubleClick");
                setTimeout(() => {
                    var btn = document.getElementById("saveAdvancedSettingsBtn");
                    btn.classList.remove("bg-yellow-600");
                    btn.classList.remove("hover:bg-yellow-500");
                    btn.classList.add("bg-red-700");
                    btn.classList.add("hover:bg-red-500");
                    btn.innerText = "Save";
                    // remove the class so user will need to double click again
                    if(btn.classList.contains("doubleClick"))
                    btn.classList.remove("doubleClick");
                }, 2000)
            }
        }
    </script>

</div>
<!--/Card-->