<!--Title-->
<h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Change password</h2>

<!--error-->
<div id='SettingsErrorMessageContainerChangePswd'
    class="hidden py-3 px-8 mt-6 mx-auto text-center rounded shadow bg-red-400">
    <h2 id="SettingsErrorMessageChangePswd"></h2>
</div>
<!--error-->
<!--success-->
<div id='SettingsSuccessMessageContainerChangePswd'
    class="hidden py-3 px-8 mt-6  mx-auto text-center text-lg rounded shadow bg-green-300">
    <h2 id="SettingsSuccessMessageChangePswd"></h2>
</div>
<!--success-->

<!--Card-->
<div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">

    <form>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="username">
                    Username
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="username" type="text">
            </div>
        </div>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="oldpassword">
                    Old password
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="oldpassword" type="password">
            </div>
        </div>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="newpassword">
                    Choose new password
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="newpassword" type="password">
            </div>
        </div>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="rptnewpassword">
                    Fill in same new password
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="rptnewpassword" type="password">
            </div>
        </div>

        <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
                <button
                    class="shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button" onclick="changePswd()">
                    Change
                </button>
            </div>
        </div>
    </form>

    <script>
        function changePswd() {
            const changePswdVars = {
                'username': document.getElementById('username').value,
                'oldpassword': document.getElementById('oldpassword').value,
                'newpassword': document.getElementById('newpassword').value,
                'rptpassword': document.getElementById('rptnewpassword').value
            }
            axios.post('/change-pswd', changePswdVars)
                .then((res) => {
                    if(res.data.message == 'ok') {
                        setMessage('SettingsSuccessMessageContainerChangePswd', 'SettingsSuccessMessageChangePswd', 'Password changed succesfully!')
                        clearMessage('SettingsErrorMessageContainerChangePswd', 'SettingsErrorMessageChangePswd')
                    } else {   
                        setMessage('SettingsErrorMessageContainerChangePswd', 'SettingsErrorMessageChangePswd', res.data.message)
                        clearMessage('SettingsSuccessMessageContainerChangePswd', 'SettingsSuccessMessageChangePswd')
                    }
                })
                .catch(() => {
                    setMessage('SettingsErrorMessageContainerChangePswd', 'SettingsErrorMessageChangePswd', 'Oops something went wrong!')
                    clearMessage('SettingsSuccessMessageContainerChangePswd', 'SettingsSuccessMessageChangePswd')
                })
        }

    </script>

</div>
<!--/Card-->