<!--Title-->
<h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Confirm</h2>

<!--error-->
<div id='ConfirmErrorMessageContainer' class="hidden py-3 px-8 mt-6 mx-auto text-center rounded shadow bg-red-400">
    <h2 id="ConfirmErrorMessage"></h2>
</div>
<!--error-->
<!--success-->
<div id='ConfirmSuccessMessageContainer'
    class="hidden py-3 px-8 mt-6  mx-auto text-center text-lg rounded shadow bg-green-300">
    <h2 id="ConfirmSuccessMessage"></h2>
</div>
<!--success-->

<!--Card-->
<div id='section5' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">

    <blockquote class="border-l-4 border-red-600 italic my-4 pl-8 md:pl-12">
    </blockquote>

    <div class="md:flex pt-8">

        <button
            class="shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mr-4"
            type="button" onclick="startInstall()">
            Save
        </button>
        <button
            class="shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mr-4"
            type="button" 
            id="reboot"
            onclick="rebootDblClick()">
            Reboot
        </button>
        <button
            class="shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mr-4"
            type="button"
            id="poweroff"
            onclick="poweroffDblClick()">
            Power off
        </button>
    </div>

    <script>
        function startInstall() {
            axios.post('/install').then((res) => {

            }).then(() => {
                setMessage('ConfirmSuccessMessageContainer', 'ConfirmSuccessMessage', 'The module will now be installed!')
            }).catch(() => {
                setMessage('ConfirmErrorMessageContainer', 'ConfirmErrorMessage', 'Something went wrong!')
            })
        }
        
        function reboot() {
            axios.post('/reboot').then((res) => {

            }).then(() => {
                setMessage('ConfirmSuccessMessageContainer', 'ConfirmSuccessMessage', 'the module will reboot! Try refresh the page in a minute.')
            }).catch(() => {
                setMessage('ConfirmErrorMessageContainer', 'ConfirmErrorMessage', 'Something went wrong!')
            })
        }

        function poweroff() {
            axios.post('/poweroff').then((res) => {

            }).then(() => {
                setMessage('ConfirmSuccessMessageContainer', 'ConfirmSuccessMessage', 'The module will turn off')
            }).catch(() => {
                setMessage('ConfirmErrorMessageContainer', 'ConfirmErrorMessage', 'Something went wrong!')
            })
        }

        function rebootDblClick() {
        var btn = document.getElementById('reboot');
        if(btn.classList.contains("doubleClick")) {
          reboot();
            btn.classList.remove("bg-yellow-600");
            btn.classList.remove("hover:bg-yellow-500");
            btn.classList.add("bg-red-700");
            btn.classList.add("hover:bg-red-500");
            btn.innerText = "Reboot";
        } else {
          btn.classList.remove("bg-red-700");
          btn.classList.remove("hover:bg-red-600");
          btn.classList.add("bg-yellow-600");
          btn.classList.add("hover:bg-yellow-500");
          btn.innerText = "Sure?";
          // add class so we can see that btn has already been clicked
          btn.classList.add("doubleClick");
          setTimeout(() => {
            var btn = document.getElementById('reboot');
            btn.classList.remove("bg-yellow-600");
            btn.classList.remove("hover:bg-yellow-500");
            btn.classList.add("bg-red-700");
            btn.classList.add("hover:bg-red-500");
            btn.innerText = "Reboot";
            // remove the class so user will need to double click again
            if(btn.classList.contains("doubleClick"))
              btn.classList.remove("doubleClick");
          }, 2000)
        }
      }

    function poweroffDblClick() {
        var btn = document.getElementById('poweroff');
        if(btn.classList.contains("doubleClick")) {
            poweroff();
            btn.classList.remove("bg-yellow-600");
            btn.classList.remove("hover:bg-yellow-500");
            btn.classList.add("bg-red-700");
            btn.classList.add("hover:bg-red-500");
            btn.innerText = "Power off";
        } else {
            btn.classList.remove("bg-red-700");
            btn.classList.remove("hover:bg-red-600");
            btn.classList.add("bg-yellow-600");
            btn.classList.add("hover:bg-yellow-500");
            btn.innerText = "Sure?";
            // add class so we can see that btn has already been clicked
            btn.classList.add("doubleClick");
            setTimeout(() => {
                var btn = document.getElementById('poweroff');
                btn.classList.remove("bg-yellow-600");
                btn.classList.remove("hover:bg-yellow-500");
                btn.classList.add("bg-red-700");
                btn.classList.add("hover:bg-red-500");
                btn.innerText = "Power off";
                // remove the class so user will need to double click again
                if(btn.classList.contains("doubleClick"))
                btn.classList.remove("doubleClick");
          }, 2000)
        }
      }

    </script>
</div>
<!--/Card-->
