<!--Title-->
<h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Led colors</h2>

<!--error-->
<div id='ControlLedsErrorMessageContainer' class="hidden py-3 px-8 mt-6 mx-auto text-center rounded shadow bg-red-400">
    <h2 id="ControlLedsErrorMessage"></h2>
</div>
<!--error-->
<!--success-->
<div id='ControlLedsSuccessMessageContainer'
    class="hidden py-3 px-8 mt-6  mx-auto text-center text-lg rounded shadow bg-green-300">
    <h2 id="ControlLedsSuccessMessage"></h2>
</div>
<!--success-->

<!--Card-->
<div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">

    <form>
        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="showColorBy">
                    Color depending on:
                </label>
            </div>
            <div class="md:w-2/3">
                <label class="block mx-2 md:inline-block">
                    <input class="form-radio text-red-700" id="radio-color-co2" type="radio" name="showColorBy"
                        onchange="updateLedColorComponent()" value="co2" <%=config.ledColorDependingOn=='co2'
                        ? "checked" : "" %>>
                    <span class="ml-2">CO2</span>
                </label>
                <label class="block mx-2 md:inline-block">
                    <input class="form-radio text-red-700" id="radio-color-tvoc" type="radio" name="showColorBy"
                        onchange="updateLedColorComponent()" value="tvoc" <%=config.ledColorDependingOn=='tvoc'
                        ? "checked" : "" %>>
                    <span class="ml-2">TVOC</span>
                </label>
                <label class="block mx-2 md:inline-block">
                    <input class="form-radio text-red-700" id="radio-color-temp" type="radio" name="showColorBy"
                        onchange="updateLedColorComponent()" value="temp" <%=config.ledColorDependingOn=='temp'
                        ? "checked" : "" %>>
                    <span class="ml-2">Temp</span>
                </label>
                <label class="block mx-2 md:inline-block">
                    <input class="form-radio text-red-700" id="radio-color-hum" type="radio" name="showColorBy"
                        onchange="updateLedColorComponent()" value="hum" <%=config.ledColorDependingOn=='hum'
                        ? "checked" : "" %>>
                    <span class="ml-2">Hum</span>
                </label>
                <label class="block mx-2 md:inline-block">
                    <input class="form-radio text-red-700" id="radio-color-other" type="radio" name="showColorBy"
                        onchange="updateLedColorComponent()" value="other" <%=config.ledColorDependingOn=='other'
                        ? "checked" : "" %>>
                    <span class="ml-2">Other</span>
                </label>
            </div>
        </div>
        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="colorGradiant">
                    Select Color:
                </label>
            </div>
            <div class="md:w-2/3">
                <label class="block mx-2 my-2" id="label-color-gradiant">
                    <input class="form-checkbox text-red-700" id="checkbox-color-gradiant" onchange="updateGradiant()"
                        type="checkbox" name="colorGradiant" value="Gradiant" <%=config.ledsGradiant ? "checked" : ""
                        %>>
                    <span class="ml-2">Gradiant</span>
                </label>
                <label class="inline-block mx-2 my-2 w-4/12 md:w-32">
                    <input class="form-color w-full h-10" id="input-color-fixed" type="color"
                        onchange="updateColorsVariable()" name="input-color-fixed" value="#00ff00">
                </label>
                <label class="inline-block mx-2 my-2 w-4/12 md:w-32">
                    <input class="form-color w-full h-10 " id="input-color-gradiant" type="color"
                        onchange="updateColorsVariable()" name="input-color-gradiant" value="#0000ff">
                </label>
            </div>
        </div>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="input-max-light">
                    Measured light value for max brightness
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="input-max-light" type="text"
                    value="<%= config.maxLight %>">
            </div>
        </div>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4"
                    for="checkbox-leds-on-when-dark">
                    Lights on when dark
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-checkbox text-red-700" id="checkbox-leds-on-when-dark" type="checkbox">
            </div>
        </div>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4"
                    for="full-brightness-off-leds">
                    Use full brightness of LEDs
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-checkbox text-red-700" id="full-brightness-off-leds" onload="sliderValueChanged()"
                    <%=config.fullBrightness ? "checked" : "" %> onchange="showWarningBrightness()" type="checkbox">
            </div>
        </div>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4"
                    for="checkbox-leds-on-when-dark">
                    Change brightness manually
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-checkbox text-red-700" id="checkbox-change-brightness-manually" type="checkbox"
                    <%=config.changeBrightnessManually ? "checked" : "" %> onchange="toggleBrightnessSlider()">
            </div>
        </div>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
            </div>
            <div class="md:w-2/3 align-middle" id="container-slider-change-brightness-manually">
                <input
                    class="rounded-lg overflow-hidden appearance-none bg-gray-200 h-4 flex-auto w-auto inline-block align-middle w-10/12 md:w-11/12"
                    id="slider-change-brightness-manually" type="range" min="0" max="<%=config.fullBrightness ? 31 : 15 %>"
                    value="<%=config.manualBrightness%>" oninput="sliderValueChanged()">
                <span class="text-gray-600 font-bold inline-block align-middle align-text-top flex-none"
                    id="span-manual-brightness-value">
                    <%=config.manualBrightness%>
                </span>
            </div>
        </div>

        <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
                <button
                    class="shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button" onclick="Save()">
                    Save
                </button>
                <button
                    class="shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button" onclick="Reset()">
                    Reset
                </button>
            </div>
        </div>
    </form>

    <script>
        var changeBrightnessManually = '<%- config.changeBrightnessManually %>' == 'true' ? true : false;
        var colorGradiant = '<%- config.ledsGradiant %>' == 'true' ? true : false;
        var colors = JSON.parse('<%- JSON.stringify(config.colorGradiants) %>'); // back-end convert json to string => front-end converts back to json => if you dont do this, you will have object: [object]

        updateGradiant()
        updateLedColorComponent()
        toggleBrightnessSlider()

        function Save() {
            let selectedRadio = document.querySelector('input[name="showColorBy"]:checked').value;
            let checkbox_other_gradiant = document.getElementById('checkbox-color-gradiant');
            let checkbox_leds_on_when_dark = document.getElementById('checkbox-leds-on-when-dark');
            let checkbox_change_brightness_manually = document.getElementById('checkbox-change-brightness-manually');
            let slider = document.getElementById('slider-change-brightness-manually');
            let input_max_light = document.getElementById('input-max-light');
            let checkbox_full_brightness_of_leds = document.getElementById('full-brightness-off-leds');

            const saveVars = {
                "ledsInDarkOn": checkbox_leds_on_when_dark.checked,
                "ledColorDependingOn": selectedRadio,
                "ledsGradiant": checkbox_other_gradiant.checked,
                "changeBrightnessManually": checkbox_change_brightness_manually.checked,
                "manualBrightness": slider.value,
                "colorGradiants": colors,
                "maxLight": input_max_light.value,
                "fullBrightness": checkbox_full_brightness_of_leds.checked
            }
            console.log(saveVars)
            axios.post('/controlLeds', saveVars)
                .then((res) => {
                    if (res.data.message == 'ok') {
                        setMessage('ControlLedsSuccessMessageContainer', 'ControlLedsSuccessMessage', 'changes saved succesfully!')
                        clearMessage('ControlLedsErrorMessageContainer', 'ControlLedsErrorMessage')
                    } else {
                        setMessage('ControlLedsErrorMessageContainer', 'ControlLedsErrorMessage', res.data.message)
                        clearMessage('ControlLedsSuccessMessageContainer', 'ControlLedsSuccessMessage')
                    }
                })
                .catch(() => {
                    setMessage('ControlLedsErrorMessageContainer', 'ControlLedsErrorMessage', 'Oops something went wrong!')
                    clearMessage('ControlLedsSuccessMessageContainer', 'ControlLedsSuccessMessage')
                })
        }

        function Reset() {
            let radio_co2 = document.getElementById('radio-color-co2')
            let checkbox_other_gradiant = document.getElementById('checkbox-color-gradiant');
            let checkbox_leds_on_when_dark = document.getElementById('checkbox-leds-on-when-dark');
            let checkbox_change_brightness_manually = document.getElementById('checkbox-change-brightness-manually');
            let slider = document.getElementById('slider-change-brightness-manually');
            let input_max_light = document.getElementById('input-max-light');
            let checkbox_full_brightness_of_leds = document.getElementById('full-brightness-off-leds');

            radio_co2.checked = true;
            checkbox_other_gradiant.checked = false;
            checkbox_leds_on_when_dark.checked = false;
            checkbox_change_brightness_manually.checked = false;
            slider.value = 10;
            input_max_light.value = 500;
            checkbox_full_brightness_of_leds.checked = false;
            colors = {
                co2: { min: "#00ff00", max: "#ff0000" },
                tvoc: { min: "#00ff00", max: "#ff0000" },
                temp: { min: "#0000ff", max: "#ff0000" },
                hum: { min: "#ff0000", max: "#0000ff" },
                other: { min: "#ff00ff", max: "#ff0000" }
            }
            updateGradiant()
            updateLedColorComponent()
            toggleBrightnessSlider()
            setMessage('ControlLedsSuccessMessageContainer', 'ControlLedsSuccessMessage', 'Click save to keep the changes')
            clearMessage('ControlLedsErrorMessageContainer', 'ControlLedsErrorMessage')
        }

        function updateLedColorComponent() {
            let selectedRadio = document.querySelector('input[name="showColorBy"]:checked').value;
            let checkbox_other_gradiant = document.getElementById('label-color-gradiant');
            let input_fixed = document.getElementById('input-color-fixed');
            let input_gradiant = document.getElementById('input-color-gradiant');

            updateColorInputs(colors[selectedRadio]);

            switch (selectedRadio) {
                case 'co2':
                    if (!checkbox_other_gradiant.classList.contains('hidden'))
                        checkbox_other_gradiant.classList.add('hidden')
                    if (input_gradiant.classList.contains('hidden'))
                        input_gradiant.classList.remove('hidden')

                    break;
                case 'tvoc':
                    if (!checkbox_other_gradiant.classList.contains('hidden'))
                        checkbox_other_gradiant.classList.add('hidden')
                    if (input_gradiant.classList.contains('hidden'))
                        input_gradiant.classList.remove('hidden')
                    break;
                case 'temp':
                    if (!checkbox_other_gradiant.classList.contains('hidden'))
                        checkbox_other_gradiant.classList.add('hidden')
                    if (input_gradiant.classList.contains('hidden'))
                        input_gradiant.classList.remove('hidden')
                    break;
                case 'hum':
                    if (!checkbox_other_gradiant.classList.contains('hidden'))
                        checkbox_other_gradiant.classList.add('hidden')
                    if (input_gradiant.classList.contains('hidden'))
                        input_gradiant.classList.remove('hidden')
                    break;
                case 'other':
                    if (checkbox_other_gradiant.classList.contains('hidden'))
                        checkbox_other_gradiant.classList.remove('hidden')
                    updateGradiant();
                    break;
            }
        }

        function updateGradiant() {
            let checkbox = document.getElementById('checkbox-color-gradiant');
            let input_gradiant = document.getElementById('input-color-gradiant');
            if (checkbox.checked) {
                if (input_gradiant.classList.contains('hidden'))
                    input_gradiant.classList.remove('hidden');
            }
            else {
                if (!input_gradiant.classList.contains('hidden'))
                    input_gradiant.classList.add('hidden')
            }
        }

        function updateColorInputs(values) {
            let input_fixed = document.getElementById('input-color-fixed');
            let input_gradiant = document.getElementById('input-color-gradiant');

            input_fixed.value = values.min;
            input_gradiant.value = values.max;
        }

        function updateColorsVariable() {
            let selectedRadio = document.querySelector('input[name="showColorBy"]:checked').value;
            let input_fixed = document.getElementById('input-color-fixed');
            let input_gradiant = document.getElementById('input-color-gradiant');

            colors[selectedRadio].min = input_fixed.value
            colors[selectedRadio].max = input_gradiant.value
        }

        function toggleBrightnessSlider() {
            let checkbox = document.getElementById('checkbox-change-brightness-manually')
            let container = document.getElementById('container-slider-change-brightness-manually');
            if (checkbox.checked) {
                if (container.classList.contains('hidden'))
                    container.classList.remove('hidden')
            } else {
                if (!container.classList.contains('hidden'))
                    container.classList.add('hidden')
            }
        }

        function showWarningBrightness() {
            var value = document.getElementById('full-brightness-off-leds').checked;
            var slider = document.getElementById('slider-change-brightness-manually');
            if (value) {
                setMessage('ControlLedsErrorMessageContainer', 'ControlLedsErrorMessage', "Temperature can be affected by the brightness of the LEDs")
                clearMessage('ControlLedsSuccessMessageContainer', 'ControlLedsSuccessMessage')
                slider.max = 31;
            } else {
                clearMessage('ControlLedsErrorMessageContainer', 'ControlLedsErrorMessage')
                slider.max = 15;
                if(slider.value > 15) 
                    slider.value = 15;
            }
            sliderValueChanged()
        }

        function sliderValueChanged() {
            var slider = document.getElementById('slider-change-brightness-manually');
            var span = document.getElementById('span-manual-brightness-value');
            span.innerText = slider.value

        }
    </script>

</div>
<!--/Card-->