<div>
    <h1 class="text-2xl text-gray-700 font-sans font-bold mb-4">Current state</h1>
    <div class="mx-auto mb-5 w-10/12 md:w-6/12">
        <div class="shadow overflow-hidden rounded border-gray-200">
            <table class="w-full bg-white text-center">
                <thead class="bg-red-600 text-white">
                    <tr class="px-4">
                        <th class="py-3 px-4 uppercase font-semibold text-sm">
                            Property
                        </th>
                        <th class="py-3 px-4 uppercase font-semibold text-sm">
                            Value
                        </th>
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                    <tr class="bg-gray-100">
                        <th class="py-3 px-4">TVOC</th>
                        <td style="position: relative" class="py-3 px-4">
                            <span id="tvoc-val">XXX ppb</span>
                        </td>
                    </tr>
                    <tr>
                        <th class="py-3 px-4">eCO&#8322;</th>
                        <td style="position: relative" class="py-3 px-4">
                            <span id="co2-val">XXX ppm</span>
                        </td>
                    </tr>
                    <tr class="bg-gray-100">
                        <th class="py-3 px-4">Temperature</th>
                        <td style="position: relative" class="py-3 px-4">
                            <span id="temp-val">XXX °C</span>
                        </td>
                    </tr>
                    <tr>
                        <th class="py-3 px-4">Humidity</th>
                        <td style="position: relative" class="py-3 px-4">
                            <span id="hum-val">XXX %</span>
                        </td>
                    </tr>
                    <tr class="bg-gray-100">
                        <th class="py-3 px-4">Last measurement</th>
                        <td style="position: relative" class="py-3 px-4">
                            <span id="time-val">YYYY-MM-DD hh:mm:ss</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>