<!--error-->
<div id='ErrorMessageContainer' class="hidden py-3 px-8 mt-6 mx-auto text-center rounded shadow bg-red-400">
    <h2 id="ErrorMessage"></h2>
</div>
<!--error-->
<!--success-->
<div id='SuccessMessageContainer'
    class="hidden py-3 px-8 mt-6  mx-auto text-center text-lg rounded shadow bg-green-300">
    <h2 id="SuccessMessage"></h2>
</div>
<!--success-->

<!--Card-->
<div class="p-8 lg:mt-0 rounded shadow bg-white">


    <div class="h-4/5 mb-5 w-full mx-auto">
        <div class="shadow overflow-y-hidden overflow-x-hidden rounded border-gray-200">
            <table class="w-full bg-white table-auto text-center">
                <thead class="bg-red-600 text-white">
                    <tr class="px-4 table-row">
                        <th class="py-3 px-1 table-cell uppercase font-semibold text-xs md:text-sm"
                            id="time-table-header">
                            <div class="items-center inline">
                                <span class="mx-1 inline-block h-5 align-middle text-xs md:text-sm">File</span>
                            </div>
                        </th>
                        <th class="py-3 px-1 table-cell uppercase font-semibold text-xs md:text-sm"
                            id="type-table-header">
                            <div class="items-center inline">
                                <span class="mx-1 inline-block h-5 align-middle text-xs md:text-sm">Download</span>
                            </div>
                        </th>
                        <th class="py-3 px-1 table-cell uppercase font-semibold text-xs md:text-sm"
                            id="section-table-header">
                            <div class="items-center inline">
                                <span class="mx-1 inline-block h-5 align-middle text-xs md:text-sm">Remove</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="text-gray-700 divide-y text-xs md:text-sm" id="table-body-downloads">
                    <% config.files.forEach((file)=> { %>
                        <tr>
                            <td>
                                <div class="inline-block text-left"><%= file.name %></div>
                            </td>
                            <td>
                                <button onclick="Download('<%- file.path %>', '<%- file.name %>')"
                                    class="shadow bg-white hover:bg-gray-100 border border-red-600 focus:shadow-outline focus:outline-none text-red-600 font-bold text-sm py-1 px-1 rounded m-2">Download</button>
                            </td>
                            <td>
                                <button onclick="Remove('<%- file.path %>', '<%- file.name %>')"
                                    class="shadow bg-white hover:bg-gray-100 border border-red-600 focus:shadow-outline focus:outline-none text-red-600 font-bold text-sm py-1 px-1 rounded m-2">Remove</button>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

        <script>
            function Download(file, name) {
                console.log(file, name)
                var data = {
                    file: file,
                };
                var config = {
                    responseType: 'blob',
                }
                axios.post('/downloadFile', data, config)
                    .then((res) => {
                        console.log(res);
                        console.log(typeof res.data.message)
                        if (typeof res.data.message == "undefined" && res.status == 200) {
                            var url = window.URL.createObjectURL(res.data);
                            var a = document.createElement('a');
                            a.style.display = 'none';
                            a.href = url;
                            // the filename you want
                            a.download = name;
                            document.body.appendChild(a);
                            a.click();
                            window.URL.revokeObjectURL(url);
                            setMessage('SuccessMessageContainer', 'SuccessMessage', 'Downloading ' + name + '...')
                            clearMessage('ErrorMessageContainer', 'ErrorMessage')
                        } else {
                            if (res.data.message == 'file not found') {
                                setMessage('ErrorMessageContainer', 'ErrorMessage', 'Oops file not found!')
                                clearMessage('SuccessMessageContainer', 'SuccessMessage')
                            } else if (res.data.message == "login") {
                                setMessage('ErrorMessageContainer', 'ErrorMessage', 'Refresh the page')
                                clearMessage('SuccessMessageContainer', 'SuccessMessage')
                            }
                        }
                    })
                    .catch(() => {
                        setMessage('ErrorMessageContainer', 'ErrorMessage', 'Oops something went wrong!')
                        clearMessage('SuccessMessageContainer', 'SuccessMessage')
                    })
            }

            function Remove(file, name) {
                axios.post('/removeFile', { "file": file })
                    .then((res) => {
                        console.log(res);
                        if (res.data.message == 'file not found') {
                            setMessage('ErrorMessageContainer', 'ErrorMessage', 'Oops file not found!')
                            clearMessage('SuccessMessageContainer', 'SuccessMessage')
                        } else if (res.data.message == "login") {
                            setMessage('ErrorMessageContainer', 'ErrorMessage', 'Refresh the page')
                            clearMessage('SuccessMessageContainer', 'SuccessMessage')
                        } else if (res.data.message == "ok") {
                            setMessage('SuccessMessageContainer', 'SuccessMessage', 'File ' + name + ' successfully removed')
                            clearMessage('ErrorMessageContainer', 'ErrorMessage')
                        }
                    })
                    .catch(() => {
                        setMessage('ErrorMessageContainer', 'ErrorMessage', 'Oops something went wrong!')
                        clearMessage('SuccessMessageContainer', 'SuccessMessage')
                    })
            }

        </script>

    </div>
    <!--/Card-->