<!--Title-->
<h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Export Webhook settings</h2>
<!--error-->
<div id='WebhookErrorMessageContainer' class="hidden py-3 px-8 mt-6 mx-auto text-center rounded shadow bg-red-400">
    <h2 id="WebhookErrorMessage"></h2>
</div>
<!--error-->
<!--success-->
<div id='WebhookSuccessMessageContainer'
    class="hidden py-3 px-8 mt-6  mx-auto text-center text-lg rounded shadow bg-green-300">
    <h2 id="WebhookSuccessMessage"></h2>
</div>
<!--success-->
<!--Card-->
<div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
    <form>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="webhookEnabled">
                    webhookEnabled
                </label>
            </div>
            <div class="">
                <input class="form-checkbox text-indigo-600" id="webhookEnabled" type="checkbox"
                    <%=config.exportWebhookSettings.webhookEnabled ? "checked" : "" %>>
            </div>
        </div>

        <div id="webhookURLDiv" class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="webhookURL">
                    URL
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="webhookURL" type="text"
                    value="<%= config.exportWebhookSettings.webhookURL %>" placeholder="http://192.168.0.2:3000/path">
            </div>
        </div>

        <div id="webhookAuthKeyDiv" class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="webhookAuthKey">
                    Authorization key
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="webhookAuthKey" type="text"
                    placeholder="aaaaaaaaaaaaaaaa">
            </div>
        </div>

        <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
                <button
                    class="shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button" id="saveButtonWebhook" onclick="saveWebhook()">
                    Save
                </button>
            </div>
        </div>
    </form>

    <script>
        function saveWebhook() {
            const config = { 
                exportWebhook: { 
                    webhookEnabled: document.getElementById('webhookEnabled').checked, 
                    webhookURL: document.getElementById('webhookURL').value,
                    authKey: document.getElementById('webhookAuthKey').value
                } 
            }
            axios.post('/saveExportWebhook', config)
                .then(() => {
                    setMessage('WebhookSuccessMessageContainer', 'WebhookSuccessMessage', 'Settings saved successfully!')
                    clearMessage('WebhookErrorMessageContainer', 'WebhookErrorMessage')
                }).catch(() => {
                    setMessage('WebhookErrorMessageContainer', 'WebhookErrorMessage', 'Something went wrong!')
                    clearMessage('SWebhookSuccessMessageContainer', 'WebhookSuccessMessage')
                })
        }
    </script>

</div>
<!--/Card-->