<!--Title-->
<h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Export settings</h2>

<!--error-->
<div id='DBErrorMessageContainer' class="hidden py-3 px-8 mt-6 mx-auto text-center rounded shadow bg-red-400">
    <h2 id="DBErrorMessage"></h2>
</div>
<!--error-->
<!--success-->
<div id='DBSuccessMessageContainer' class="hidden py-3 px-8 mt-6  mx-auto text-center text-lg rounded shadow bg-green-300">
    <h2 id="DBSuccessMessage"></h2>
</div>
<!--success-->

<!--Card-->
<div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
    <form>
        
        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="mysqlEnabled">
                    mysqlEnabled
                </label>
            </div>
            <div class="">
                <input class="form-checkbox text-indigo-600" id="mysqlEnabled" onchange="showDatabaseSettings()" type="checkbox"
                <%= config.exportDatabaseSettings.mysqlEnabled ? "checked" : "" %>>
            </div>
        </div>

        <div id="mysqlHostDiv" class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="mysqlHost">
                    Host / IP
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="mysqlHost" placeholder="192.168.0.2" type="text"
                value="<%= config.exportDatabaseSettings.mysqlHost %>">
            </div>
        </div>
        
        <div id="mysqlPortDiv" class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="mysqlPort">
                    Port
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="mysqlPort" placeholder="3306" type="text"
                value="<%= config.exportDatabaseSettings.mysqlPort %>">
            </div>
        </div>

        <div id="mysqlUserDiv" class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="mysqlUser">
                    user
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="mysqlUser" placeholder="root" type="text"
                value="<%= config.exportDatabaseSettings.mysqlUser %>">
            </div>
        </div>
        
        <div id="mysqlPasswordDiv" class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="mysqlPassword">
                    password
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="mysqlPassword" type="password">
            </div>
        </div>
        
        <div id="mysqlDatabaseDiv" class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="mysqlDatabase">
                    database
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="mysqlDatabase" type="text"
                value="<%= config.exportDatabaseSettings.mysqlDatabase %>">
            </div>
        </div>
        
        <div id="mysqlTableDiv" class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="mysqlTable">
                    table
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="mysqlTable" type="text"
                value="<%= config.exportDatabaseSettings.mysqlTable %>">
            </div>
        </div>

        <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
                <button
                    class="shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button" 
                    id="saveButtonDB"
                    onclick="saveDB()">
                    Save
                </button>
            </div>
        </div>
    </form>

    <script>
       function saveDB() {
            const config = {exportDB : { 
                mysqlEnabled: document.getElementById('mysqlEnabled').checked, 
                mysqlHost: document.getElementById('mysqlHost').value ,
                mysqlUser: document.getElementById('mysqlUser').value ,
                mysqlPassword: document.getElementById('mysqlPassword').value ,
                mysqlDatabase: document.getElementById('mysqlDatabase').value ,
                mysqlTable: document.getElementById('mysqlTable').value ,
                mysqlPort: document.getElementById('mysqlPort').value ,
            }}
            axios.post('/saveExportDB', config)
            .then(() => {
                setMessage('DBSuccessMessageContainer', 'DBSuccessMessage', 'Settings saved successfully!')
                clearMessage('DBErrorMessageContainer', 'DBErrorMessage')
            }).catch(() => {
                setMessage('DBErrorMessageContainer', 'DBErrorMessage', 'Something went wrong!')
                clearMessage('DBSuccessMessageContainer', 'DBSuccessMessage')
            })
        }

        function showDatabaseSettings() {
            show = document.getElementById('mysqlEnabled')
            containers = [document.getElementById('mysqlHostDiv'),
                            document.getElementById('mysqlUserDiv'),
                            document.getElementById('mysqlPasswordDiv'),
                            document.getElementById('mysqlDatabaseDiv'),
                            document.getElementById('mysqlTableDiv'),
                            document.getElementById('mysqlPortDiv'),
                        ]
            if(!show.checked){
                containers.forEach(container => {
                container.classList.add('hidden')
                container.classList.remove('md:flex')
                });
            } else {
                containers.forEach(container => {
                container.classList.remove('hidden')
                container.classList.add('md:flex')
                });
            }
        }
        showDatabaseSettings();
    </script>

</div>
<!--/Card-->
