<nav id="header" class="bg-white fixed w-full z-10 top-0 shadow">

    <div class="w-full container mx-auto flex flex-wrap items-center justify-between my-4">

        <div class="pl-4 md:pl-0">
            <a class="flex items-center text-red-600 text-base xl:text-xl no-underline hover:no-underline font-extrabold font-sans"
                href="#">
                <svg class="fill-current h-6 inline-block text-red-600 mr-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M16 2h4v15a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V0h16v2zm0 2v13a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4h-2zM2 2v15a1 1 0 0 0 1 1h11.17a2.98 2.98 0 0 1-.17-1V2H2zm2 8h8v2H4v-2zm0 4h8v2H4v-2zM4 4h8v4H4V4z" />
                </svg> Vives Climate Monitor
            </a>
        </div>

        <div class="pr-0 flex justify-end">
            <div class="flex relative inline-block float-right">
                <div class="relative text-sm">
                    <button id="userButton" onclick="showMenu()"
                        class="flex items-center mr-3 shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white text-sm md:text-base font-bold py-2 px-4 rounded">
                        Menu
                        <svg class="pl-2 h-2 fill-current text-white" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink"
                            enable-background="new 0 0 129 129">
                            <g>
                                <path
                                    d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" />
                            </g>
                        </svg>
                    </button>

                    <div id="userMenu"
                        class="bg-white rounded shadow-md mt-2 mr-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible">
                        <ul class="list-reset">
                            <% if (sess.username) { //logged in%>
                                <li><a href="measurements"
                                        class="px-4 py-2 block text-red-600 hover:text-red-800 hover:bg-gray-300 font-bold no-underline hover:no-underline">Measurements</a>
                                </li>
                                <li><a href="settings"
                                        class="px-4 py-2 block text-red-600 hover:text-red-800 hover:bg-gray-300 font-bold no-underline hover:no-underline">Settings</a>
                                </li>
                                <li><a href="logs"
                                        class="px-4 py-2 block text-red-600 hover:text-red-800 hover:bg-gray-300 font-bold no-underline hover:no-underline">Logs</a>
                                </li>
                                <li><a href="downloads"
                                        class="px-4 py-2 block text-red-600 hover:text-red-800 hover:bg-gray-300 font-bold no-underline hover:no-underline">Downloads</a>
                                </li>
                                <li><a href="logout"
                                        class="px-4 py-2 block text-red-600 hover:text-red-800 hover:bg-gray-300 font-bold no-underline hover:no-underline">Logout</a>
                                </li>
                                <% } else { // not logged in%>
                                    <li><a href="measurements"
                                            class="px-4 py-2 block text-red-600 hover:text-red-800 hover:bg-gray-300 font-bold no-underline hover:no-underline">Measurements</a>
                                    </li>
                                    <li><a href="login"
                                            class="px-4 py-2 block text-red-600 hover:text-red-800 hover:bg-gray-300 font-bold no-underline hover:no-underline">Login</a>
                                    </li>

                                    <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script>

            document.addEventListener('click', (event) => {
                var menu = document.getElementById('userMenu')
                if (!menu.classList.contains("invisible")) {
                    var btn = document.getElementById("userButton");
                    var dropdown = document.getElementById('userMenu');
                    var isClickInsideElement = btn.contains(event.target) || dropdown.contains(event.target);
                    if (!isClickInsideElement) {
                        showMenu();
                    }
                }
            });

            function showMenu() {
                    var menu = document.getElementById('userMenu')
                    if (menu.classList.contains("invisible")) {
                        document.getElementById('userMenu').classList.remove("invisible");
                    } else {
                        document.getElementById('userMenu').classList.add("invisible");
                    }
                }

            window.addEventListener('load', function () {
                //worker toevoegen*/

                navigator.serviceWorker.register('serviceworker.js')
                    .then(registration => {
                        console.log('service worker registered');
                    })
                    .catch(err => console.log(err))
           })


        </script>
    </div>
</nav>