<div>
    <h1 class="text-2xl text-gray-700 font-sans font-bold mb-4">Line Chart</h1>
    <form>
        <div class="row form-group mx-auto mb-5 w-10/12 md:w-6/12">
            <div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">

                <form>
                    <div class="md:flex mb-6">
                        <div class="md:w-1/3">
                            <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="selType">
                                Type
                            </label>
                        </div>
                        <div class="md:w-2/3">
                            <select name="type" class="form-select block w-full focus:bg-white"onchange="typeLineChartChanged()" id="selType">
                                <option>CO2</option>
                                <option>TVOC</option>
                                <option>Temperature</option>
                                <option>Humidity</option>
                            </select>
                        </div>
                    </div>
                    <div class="md:flex mb-6">
                        <div class="md:w-1/3">
                            <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="selRange">
                                Range
                            </label>
                        </div>
                        <div class="md:w-2/3">
                            <select name="range" class="form-select block w-full focus:bg-white" onchange="rangeLineChartChanged()" id="selRange">
                                <option>1 Hour</option>
                                <option>3 Hours</option>
                                <option>12 Hours</option>
                                <option>1 Day</option>
                                <option>1 Week</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
    <canvas id="lineChart"></canvas>
</div>