<!--error-->
<div id='SettingsErrorMessageContainer' class="hidden py-3 px-8 mt-6 mx-auto text-center rounded shadow bg-red-400">
    <h2 id="SettingsErrorMessage"></h2>
</div>
<!--error-->
<!--success-->
<div id='SettingsSuccessMessageContainer' class="hidden py-3 px-8 mt-6  mx-auto text-center text-lg rounded shadow bg-green-300">
    <h2 id="SettingsSuccessMessage"></h2>
</div>
<!--success-->

<!--Card-->
<div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">

    <form onsubmit="return Login()">

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="username">
                   Username
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="username" type="text" required autofocus>
            </div>
        </div>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="password">
                   Password
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="password" type="password" required>
            </div>
        </div>

        <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
                <button
                    class="shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="submit">
                    Login
                </button>
            </div>
        </div>
    </form>

    <script>
        function Login() {
            const login = {
                'username': document.getElementById('username').value,
                'password': document.getElementById('password').value
            }
            axios.post('/login', login)
                .then((res) => {
                    if(res.data.message == 'ok') {
                        window.location.pathname = '/measurements'
                    } else {
                        setMessage('SettingsErrorMessageContainer', 'SettingsErrorMessage', res.data.message)
                        clearMessage('SettingsSuccessMessageContainer', 'SettingsSuccessMessage')
                    }
                })
                .catch(() => {
                    setMessage('SettingsErrorMessageContainer', 'SettingsErrorMessage', 'Oops something went wrong!')
                    clearMessage('SettingsSuccessMessageContainer', 'SettingsSuccessMessage')
                })
            return false;
        }

    </script>

</div>
<!--/Card-->