<div>
    <div class="my-3 px-3 align-middle relative flex w-full">
        <!-- search in messages-->
        <input type="text" placeholder="Search" id="search-input"
            class="w-full block md:inline-block md:flex-grow rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 h-auto align-middle mx-1" />
        <!-- dropdown select types -->
        <div class="hidden md:inline-block flex-initial flex-shrink-0 mx-1">
            <button type="button"
                class="inline-block align-middle rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                id="filter-types-btn" aria-haspopup="true" aria-expanded="true">
                filter types
                <img class="inline-block h-4 align-middle" src="images/dropdown.png">
            </button>
            <div class="absolute mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10 hidden"
                id="filter-types-dropdown">
                <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="filter-types">
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-error-filter">
                        <input role="menuitem" type="checkbox" id="checkbox-error-filter" checked="checked">
                        Error
                    </div>
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-warning-filter">
                        <input role="menuitem" type="checkbox" id="checkbox-warning-filter" checked="checked">
                        Warning
                    </div>
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-info-filter">
                        <input role="menuitem" type="checkbox" id="checkbox-info-filter" checked="checked">
                        Info
                    </div>
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-debug-filter">
                        <input role="menuitem" type="checkbox" id="checkbox-debug-filter" checked="checked">
                        Debug
                    </div>
                </div>
            </div>
        </div>
        <!-- dropdown select sections -->
        <div class="hidden md:inline-block flex-initial flex-shrink-0 mx-1">
            <button type="button"
                class="inline-block align-middle rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                id="filter-all-btn" aria-haspopup="true" aria-expanded="true">
                filter sections
                <img class="inline-block h-4 align-middle" src="images/dropdown.png">
            </button>
            <div class="absolute mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10 hidden"
                id="filter-all-dropdown">
                <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="filter-types">
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-installer-filter">
                        <input role="menuitem" type="checkbox" id="checkbox-installer-filter" checked="checked">
                        Installer
                    </div>
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-sensor-filter">
                        <input role="menuitem" type="checkbox" id="checkbox-sensor-filter" checked="checked">
                        Sensor
                    </div>
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-pm2-filter">
                        <input role="menuitem" type="checkbox" id="checkbox-pm2-filter" checked="checked">
                        PM2
                    </div>
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-docker-filter">
                        <input role="menuitem" type="checkbox" id="checkbox-docker-filter" checked="checked">
                        Docker
                    </div>
                </div>
            </div>
        </div>
        <!-- dropdown select all for small screen -->
        <div class="flex-initial flex-shrink-0 mx-1 inline-block md:hidden">
            <button type="button"
                class="inline-block align-middle rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                id="filter-section-btn" aria-haspopup="true" aria-expanded="true">
                filters
                <img class="inline-block h-4 align-middle" src="images/dropdown.png">
            </button>
            <div class="absolute mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10 divide-y divide-gray-100 hidden"
                id="filter-section-dropdown" role="menu" aria-orientation="vertical" aria-labelledby="filters-all-menu">
                <div class="py-1">
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-error-filter-small">
                        <input role="menuitem" type="checkbox" id="checkbox-error-filter-small" checked="checked">
                        Error
                    </div>
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-warning-filter-small">
                        <input role="menuitem" type="checkbox" id="checkbox-warning-filter-small" checked="checked">
                        Warning
                    </div>
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-info-filter-small">
                        <input role="menuitem" type="checkbox" id="checkbox-info-filter-small" checked="checked">
                        Info
                    </div>
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-debug-filter-small">
                        <input role="menuitem" type="checkbox" id="checkbox-debug-filter-small" checked="checked">
                        Debug
                    </div>
                </div>
                <div class="py-1">
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-installer-filter-small">
                        <input role="menuitem" type="checkbox" id="checkbox-installer-filter-small" checked="checked">
                        Installer
                    </div>
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-sensor-filter-small">
                        <input role="menuitem" type="checkbox" id="checkbox-sensor-filter-small" checked="checked">
                        Sensor
                    </div>
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-pm2-filter-small">
                        <input role="menuitem" type="checkbox" id="checkbox-pm2-filter-small" checked="checked">
                        PM2
                    </div>
                    <div class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                        id="div-docker-filter-small">
                        <input role="menuitem" type="checkbox" id="checkbox-docker-filter-small" checked="checked">
                        Docker
                    </div>
                </div>
            </div>
        </div>
        <!-- buttons -->
        <div class="justify-end mx-1 flex-shrink-0">
            <button
                class="shadow bg-white hover:bg-gray-100 border-red-300 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-2 h-full w-auto rounded align-middle"
                id="search-btn">
                <img class="h-5" src="images/search.png">
            </button>
            <button
                class="shadow bg-white hover:bg-gray-100 border-red-300 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-2 mx-1 h-full rounded align-middle"
                id="refresh-btn">
                <img class="h-4" src="images/refresh.png">
            </button>
        </div>
    </div>
    <div class="h-4/5 mb-5 w-full mx-auto">
        <div class="shadow overflow-y-hidden overflow-x-hidden rounded border-gray-200">
            <table class="w-full bg-white table-auto text-center">
                <thead class="bg-red-600 text-white">
                    <tr class="px-4 table-row">
                        <th class="py-3 px-1 table-cell uppercase font-semibold text-xs md:text-sm"
                            id="time-table-header">
                            <div class="items-center inline">
                                <span class="mx-1 inline-block h-5 align-middle">Time</span>
                                <span class="mx-1 inline-block h-5 align-middle" id="time-sort-span">
                                    <img class="h-5" id="time-sort-img" src="/images/sort_9_to_0.png" />
                                </span>
                            </div>
                        </th>
                        <th class="py-3 px-1 table-cell uppercase font-semibold text-xs md:text-sm"
                            id="type-table-header">
                            <div class="items-center inline">
                                <span class="mx-1 inline-block h-5 align-middle">Type</span>
                                <span class="mx-1 hidden h-5 align-middle" id="type-sort-span">
                                    <img class="h-5" id="type-sort-img" src="/images/sort_a_to_z.png" />
                                </span>
                            </div>
                        </th>
                        <th class="py-3 px-1 table-cell uppercase font-semibold text-xs md:text-sm"
                            id="section-table-header">
                            <div class="items-center inline">
                                <span class="mx-1 inline-block h-5 align-middle">Section</span>
                                <span class="mx-1 hidden h-5 align-middle" id="section-sort-span">
                                    <img class="h-5" id="section-sort-img" src="/images/sort_a_to_z.png" />
                                </span>
                            </div>
                        </th>
                        <th class="py-3 px-1 table-cell uppercase font-semibold text-xs md:text-sm">
                            <div class="items-center inline">
                                <span class="mx-1 inline-block h-5 align-middle">Message</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="text-gray-700 divide-y text-xs md:text-sm" id="table-body-logs">
                </tbody>
            </table>
        </div>
    </div>
    <script>
        // place always an extra space at the end of each class-string
        var time_classes = "py-3 px-1 md:px-4 transform -rotate-90 md:rotate-0 w-2/12 md:w-2/12 border-2 border-gray-50 ";
        var type_classes = "py-3 px-1 md:px-4 transform -rotate-90 md:rotate-0 w-1/12 md:w-24 border-2 border-gray-50 text-bold ";
        var section_classes = "py-3 px-1 md:px-4 transform -rotate-90 md:rotate-0 w-1/12 md:w-32 border-2 border-gray-50 ";
        var message_classes = "py-3 px-4  border-2 border-gray-50 text-sm text-left ";
        var row_classes = "hover:bg-gray-200 "
        var even_row_classes = "bg-gray-100 "

        var color_classes = {
            info: "text-green-500",
            debug: "text-blue-500",
            error: "text-red-600",
            warning: "text-yellow-500",
        }

        var sort_compare_functions = {
            time_up: sortCompareByTimeUp,
            time_down: sortCompareByTimeDown,
            type_up: sortCompareByTypeUp,
            type_down: sortCompareByTypeDown,
            section_up: sortCompareBySectionUp,
            section_down: sortCompareBySectionDown
        }

        var sorted_on_element = "time_down";
        var all_logs = [];
        var logs_with_filters = [];

        var types_dropdown_visible = false;
        var section_dropdown_visible = false;
        var all_dropdown_visible = false;

        // elements
        var filter_types_dropdown = document.getElementById("filter-types-dropdown");
        var filter_section_dropdown = document.getElementById("filter-section-dropdown");
        var filter_all_dropdown = document.getElementById("filter-all-dropdown");

        window.addEventListener('load', () => {
            getLogs()
                .then(() => {
                    applyFilters();
                    replaceElements(sort_compare_functions[sorted_on_element]);
                })
        })

        document.addEventListener('click', (event) => {
            if (types_dropdown_visible) {
                var btn = document.getElementById("filter-types-btn");
                var dropdown = document.getElementById('filter-types-dropdown');
                var isClickInsideElement = btn.contains(event.target) || dropdown.contains(event.target);
                if (!isClickInsideElement) {
                    filter_types_dropdown.classList.add("hidden")
                    types_dropdown_visible = false
                }
            }
            if (section_dropdown_visible) {
                var btn = document.getElementById("filter-section-btn");
                var dropdown = document.getElementById('filter-section-dropdown');
                var isClickInsideElement = btn.contains(event.target) || dropdown.contains(event.target);
                if (!isClickInsideElement) {
                    filter_section_dropdown.classList.add("hidden")
                    section_dropdown_visible = false
                }
            }
            if (all_dropdown_visible) {
                var btn = document.getElementById("filter-all-btn");
                var dropdown = document.getElementById('filter-all-dropdown');
                var isClickInsideElement = btn.contains(event.target) || dropdown.contains(event.target);
                if (!isClickInsideElement) {
                    filter_all_dropdown.classList.add("hidden")
                    all_dropdown_visible = false
                }
            }
        });
        document.getElementById("filter-types-btn").addEventListener("click", () => {
            if (types_dropdown_visible)
                filter_types_dropdown.classList.add("hidden")
            else
                filter_types_dropdown.classList.remove("hidden")
            types_dropdown_visible = !types_dropdown_visible
        })

        document.getElementById("filter-section-btn").addEventListener("click", () => {
            if (section_dropdown_visible)
                filter_section_dropdown.classList.add("hidden")
            else
                filter_section_dropdown.classList.remove("hidden")
            section_dropdown_visible = !section_dropdown_visible
        })

        document.getElementById("filter-all-btn").addEventListener("click", () => {
            if (all_dropdown_visible)
                filter_all_dropdown.classList.add("hidden")
            else
                filter_all_dropdown.classList.remove("hidden")
            all_dropdown_visible = !all_dropdown_visible
        })

        document.getElementById("time-table-header").addEventListener('click', () => {
            // hide sort images of other elements
            document.getElementById("time-sort-span").classList.replace("hidden", "inline-block")
            document.getElementById("type-sort-span").classList.replace("inline-block", "hidden")
            document.getElementById("section-sort-span").classList.replace("inline-block", "hidden")

            if (sorted_on_element == "time_up") {
                document.getElementById("time-sort-img").src = "/images/sort_9_to_0.png"
                sorted_on_element = "time_down";
                replaceElements(sort_compare_functions.time_down)
            }
            else {
                document.getElementById("time-sort-img").src = "/images/sort_0_to_9.png"
                sorted_on_element = "time_up"
                replaceElements(sort_compare_functions.time_up)
            }
        });

        document.getElementById("type-table-header").addEventListener('click', () => {
            // hide sort images of other elements
            document.getElementById("time-sort-span").classList.replace("inline-block", "hidden")
            document.getElementById("type-sort-span").classList.replace("hidden", "inline-block")
            document.getElementById("section-sort-span").classList.replace("inline-block", "hidden")

            if (sorted_on_element == "type_up") {
                document.getElementById("type-sort-img").src = "/images/sort_z_to_a.png"
                sorted_on_element = "type_down";
                replaceElements(sort_compare_functions.type_down)
            }
            else {
                document.getElementById("type-sort-img").src = "/images/sort_a_to_z.png"
                sorted_on_element = "type_up"
                replaceElements(sort_compare_functions.type_up)
            }
        });

        document.getElementById("section-table-header").addEventListener('click', () => {
            // hide sort images of other elements
            document.getElementById("time-sort-span").classList.replace("inline-block", "hidden")
            document.getElementById("type-sort-span").classList.replace("inline-block", "hidden")
            document.getElementById("section-sort-span").classList.replace("hidden", "inline-block")

            if (sorted_on_element == "section_up") {
                document.getElementById("section-sort-img").src = "/images/sort_z_to_a.png"
                sorted_on_element = "section_down";
                replaceElements(sort_compare_functions.section_down)
            }
            else {
                document.getElementById("section-sort-img").src = "/images/sort_a_to_z.png"
                sorted_on_element = "section_up"
                replaceElements(sort_compare_functions.section_up)
            }
        });

        // checkbox handlers for medium screen or bigger
        document.getElementById("div-error-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-error-filter");
            var checkbox_small = document.getElementById("checkbox-error-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("checkbox-error-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-error-filter");
            var checkbox_small = document.getElementById("checkbox-error-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("div-warning-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-warning-filter");
            var checkbox_small = document.getElementById("checkbox-warning-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("checkbox-warning-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-warning-filter");
            var checkbox_small = document.getElementById("checkbox-warning-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("div-info-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-info-filter");
            var checkbox_small = document.getElementById("checkbox-info-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("checkbox-info-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-info-filter");
            var checkbox_small = document.getElementById("checkbox-info-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("div-debug-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-debug-filter");
            var checkbox_small = document.getElementById("checkbox-debug-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("checkbox-debug-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-debug-filter");
            var checkbox_small = document.getElementById("checkbox-debug-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("div-installer-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-installer-filter");
            var checkbox_small = document.getElementById("checkbox-installer-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("checkbox-installer-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-installer-filter");
            var checkbox_small = document.getElementById("checkbox-installer-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("div-sensor-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-sensor-filter");
            var checkbox_small = document.getElementById("checkbox-sensor-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("checkbox-sensor-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-sensor-filter");
            var checkbox_small = document.getElementById("checkbox-sensor-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("div-pm2-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-pm2-filter");
            var checkbox_small = document.getElementById("checkbox-pm2-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("checkbox-pm2-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-pm2-filter");
            var checkbox_small = document.getElementById("checkbox-pm2-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("div-docker-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-docker-filter");
            var checkbox_small = document.getElementById("checkbox-docker-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })
        document.getElementById("checkbox-docker-filter").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-docker-filter");
            var checkbox_small = document.getElementById("checkbox-docker-filter-small");
            checkbox.checked = !checkbox.checked;
            checkbox_small.checked = checkbox.checked;
        })

        // checkbox handlers for small screen
        document.getElementById("div-error-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-error-filter");
            var checkbox_small = document.getElementById("checkbox-error-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("checkbox-error-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-error-filter");
            var checkbox_small = document.getElementById("checkbox-error-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("div-warning-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-warning-filter");
            var checkbox_small = document.getElementById("checkbox-warning-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("checkbox-warning-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-warning-filter");
            var checkbox_small = document.getElementById("checkbox-warning-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("div-info-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-info-filter");
            var checkbox_small = document.getElementById("checkbox-info-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("checkbox-info-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-info-filter");
            var checkbox_small = document.getElementById("checkbox-info-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("div-debug-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-debug-filter");
            var checkbox_small = document.getElementById("checkbox-debug-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("checkbox-debug-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-debug-filter");
            var checkbox_small = document.getElementById("checkbox-debug-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("div-installer-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-installer-filter");
            var checkbox_small = document.getElementById("checkbox-installer-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("checkbox-installer-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-installer-filter");
            var checkbox_small = document.getElementById("checkbox-installer-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("div-sensor-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-sensor-filter");
            var checkbox_small = document.getElementById("checkbox-sensor-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("checkbox-sensor-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-sensor-filter");
            var checkbox_small = document.getElementById("checkbox-sensor-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("div-pm2-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-pm2-filter");
            var checkbox_small = document.getElementById("checkbox-pm2-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("checkbox-pm2-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-pm2-filter");
            var checkbox_small = document.getElementById("checkbox-pm2-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("div-docker-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-docker-filter");
            var checkbox_small = document.getElementById("checkbox-docker-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })
        document.getElementById("checkbox-docker-filter-small").addEventListener('click', () => {
            var checkbox = document.getElementById("checkbox-docker-filter");
            var checkbox_small = document.getElementById("checkbox-docker-filter-small");
            checkbox_small.checked = !checkbox_small.checked;
            checkbox.checked = checkbox_small.checked;
        })

        document.getElementById("search-btn").addEventListener('click', () => {
            applyFilters();
            replaceElements(sort_compare_functions[sorted_on_element]);
        })
        document.getElementById("refresh-btn").addEventListener('click', () => {
            getLogs()
                .then(() => {
                    applyFilters();
                    replaceElements(sort_compare_functions[sorted_on_element]);
                })
        })


        function replaceElements(sortCompareFunc) {
            var body = document.getElementById('table-body-logs');
            // remove all elements
            // body.textContent = ""
            while (body.children.length > 0) {
                body.removeChild(body.childNodes[0]);
            }
            // replace all elements
            logs_with_filters.sort(sortCompareFunc);
            logs_with_filters.forEach((log) => {
                var row_element = document.createElement('tr');

                var time_element = document.createElement("th");
                time_element.className = time_classes;
                var time = new Date(log.time);
                time_element.innerText = time.toLocaleString();

                var type_element = document.createElement("th");
                type_element.className = type_classes + " " + color_classes[log.type];
                type_element.innerText = log.type;

                var section_element = document.createElement("th");
                section_element.className = section_classes;
                section_element.innerText = log.section;

                var message_element = document.createElement("th");
                message_element.className = message_classes;
                message_element.innerText = log.message;

                row_element.appendChild(time_element)
                row_element.appendChild(type_element)
                row_element.appendChild(section_element)
                row_element.appendChild(message_element)


                var body = document.getElementById('table-body-logs');
                var even = body.children.length % 2;
                if (even) {
                    row_element.classList += even_row_classes;
                }
                row_element.className += row_classes;
                body.appendChild(row_element)
            })
        }

        function applyFilters() {
            logs_with_filters = [];
            all_logs.forEach(log => {
                switch (log.type) {
                    case "error":
                        if (document.getElementById("checkbox-error-filter").checked && checkSection(log) && checkMessage(log))
                            logs_with_filters.push(log);
                        break;
                    case "warning":
                        if (document.getElementById("checkbox-warning-filter").checked && checkSection(log) && checkMessage(log))
                            logs_with_filters.push(log);
                        break;
                    case "info":
                        if (document.getElementById("checkbox-info-filter").checked && checkSection(log) && checkMessage(log))
                            logs_with_filters.push(log);
                        break;
                    case "debug":
                        if (document.getElementById("checkbox-debug-filter").checked && checkSection(log) && checkMessage(log))
                            logs_with_filters.push(log);
                        break;
                }
            })
        }

        // check if section is checked in the filters => if so, return true
        function checkSection(log) {
            switch (log.section) {
                case "installer":
                    return document.getElementById("checkbox-installer-filter").checked;
                    break;
                case "sensor":
                    return document.getElementById("checkbox-sensor-filter").checked;
                    break;
                case "pm2":
                    return document.getElementById("checkbox-pm2-filter").checked;
                    break;
                case "docker":
                    return document.getElementById("checkbox-docker-filter").checked;
                    break;
            }
        }

        function checkMessage(log) {
            return (log.message.indexOf(document.getElementById("search-input").value) != -1)
        }

        function getLogs() {
            return new Promise((resolve, reject) => {
                all_logs = [];
                axios.post('/getLogs')
                    .then((res) => {
                        var logs = res.data;
                        logs.forEach(log => {
                            var time_start = log.indexOf("[");
                            if (time_start >= 0) {      // last element of each section is not a log => this will remove this element
                                var type_start = log.indexOf("[", time_start + 1);
                                var section_start = log.indexOf("[", type_start + 1);
                                var message_start = log.indexOf("]", section_start) + 2;

                                var time_string = log.substring(time_start + 2, type_start - 3)
                                var type_string = log.substring(type_start + 2, section_start - 3)
                                var section_string = log.substring(section_start + 2, message_start - 3)
                                var message_string = log.substring(message_start)

                                var time = new Date(time_string);

                                var element = {
                                    "time": time.getTime(),
                                    "type": type_string,
                                    "section": section_string,
                                    "message": message_string
                                }
                                all_logs.push(element)
                            }
                        });
                    }).then(() => {
                        return resolve();
                    }).catch((error) => {
                        throw error
                        console.log(error.message)
                    })
            })
        }

        function sortCompareByTimeUp(a, b) {
            if (a.time < b.time)
                return -1;
            else if (a.time > b.time)
                return 1;
            else
                return 0;
        }

        function sortCompareByTimeDown(a, b) {
            if (a.time < b.time)
                return 1;
            else if (a.time > b.time)
                return -1;
            else
                return 0;
        }

        function sortCompareByTypeUp(a, b) {
            if (a.type < b.type)
                return -1;
            else if (a.type > b.type)
                return 1;
            else
                return 0;
        }

        function sortCompareByTypeDown(a, b) {
            if (a.type < b.type)
                return 1;
            else if (a.type > b.type)
                return -1;
            else
                return 0;
        }

        function sortCompareBySectionUp(a, b) {
            if (a.section < b.section)
                return -1;
            else if (a.section > b.section)
                return 1;
            else
                return 0;
        }

        function sortCompareBySectionDown(a, b) {
            if (a.section < b.section)
                return 1;
            else if (a.section > b.section)
                return -1;
            else
                return 0;
        }

        /*      TODO
            * max lengte van message instellen => volledig weergeven on hover/klikken
            * thead vastzetten
        */
    </script>
</div>