<!--Title-->
<h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Scan QR Code</h2>

<!--Card--> 
<div class="row form-group mx-auto mb-5 w-10/12 md:w-6/12">
<div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
    <div class="md:flex mb-6">
            <img id="imgQR" class="mx-auto" alt="QR Code is niet beschikbaar">           
    </div>
</div>
</div>
<!--/Card-->