<!--Title-->
<h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Settings</h2>

<!--error-->
<div id='SettingsErrorMessageContainer' class="hidden py-3 px-8 mt-6 mx-auto text-center rounded shadow bg-red-400">
    <h2 id="SettingsErrorMessage"></h2>
</div>
<!--error-->
<!--success-->
<div id='SettingsSuccessMessageContainer' class="hidden py-3 px-8 mt-6  mx-auto text-center text-lg rounded shadow bg-green-300">
    <h2 id="SettingsSuccessMessage"></h2>
</div>
<!--success-->

<!--Card-->
<div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">

    <form>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="hostname">
                   Hostname
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="hostname" type="text" value="<%= config.hostname %>">
                <p class="py-2 text-sm text-gray-600">where the module will be placed</p>
            </div>
        </div>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="MAC">
                    MAC address
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" disabled id="MAC" type="text"
                    value="<%= config.mac %>">
            </div>
        </div>

        <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
                <button
                    class="shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button" onclick="saveSettings()">
                    Save
                </button>
            </div>
        </div>
    </form>

    <script>
        function saveSettings() {
            const hostname = document.getElementById('hostname')
            var oldHostname = hostname.value;
            const config = { hostname: hostname.value }
            axios.post('/save', config).then((res) => {

                hostname.value = res.data.hostname
            
            }).then(() => {
                if(oldHostname != hostname.value){
                    setMessage('SettingsErrorMessageContainer', 'SettingsErrorMessage', 'Invalid hostname!')
                    clearMessage('SettingsSuccessMessageContainer', 'SettingsSuccessMessage')    
                }
                else{
                    setMessage('SettingsSuccessMessageContainer', 'SettingsSuccessMessage', 'Settings saved successfully!')
                    clearMessage('SettingsErrorMessageContainer', 'SettingsErrorMessage')    
                }
            }).catch((error) => {
                setMessage('SettingsErrorMessageContainer', 'SettingsErrorMessage', 'Something went wrong!')
                clearMessage('SettingsSuccessMessageContainer', 'SettingsSuccessMessage')
            })
        }

    </script>

</div>
<!--/Card-->