<!--Title-->
<h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Wi-Fi settings</h2>

<!--error-->
<div id='WifiErrorMessageContainer' class="hidden py-3 px-8 mt-6 mx-auto text-center rounded shadow bg-red-400">
    <h2 id="WifiErrorMessage"></h2>
</div>
<!--error-->

<!--success-->
<div id='WifiSuccessMessageContainer' class="hidden py-3 px-8 mt-6  mx-auto text-center text-lg rounded shadow bg-green-300">
    <h2 id="WifiSuccessMessage"></h2>
</div>
<!--success-->

<!--Card-->
<div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
    <form>
        <div class="md:flex mb-6">
            <h2 class="block text-black-600 font-bold md:text-left mb-3 md:mb-0 pr-4">Connect to Wi-Fi-network</h2>
        </div>
        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="SSID">
                    Name of the network
                </label>
            </div>
            <div class="md:w-2/3">
                <select 
                    id="SSID"
                    class="block form-input w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:bg-white">
                    <% wifi.listOfBroadcastedNetworks.forEach(element => { 
                        if(element != wifi.connectedNetwork){    
                    %>
                        <option><%= element %></option>
                    <% }}); %>
                  </select>
            </div>
        </div>
        
        <div id="PSKContainer" class="hidden mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="PSK">
                    Password
                </label>
            </div>
            <div class="md:w-2/3">
                <input class="form-input block w-full focus:bg-white" id="PSK" type="password">
            </div>
        </div>

        <div class="md:flex mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="noPSK">
                    Connect without password
                </label>
            </div>
            <div class="">
                <input class="form-checkbox text-indigo-600" id="noPSK" type="checkbox" onchange="pskTypeChanged()">
            </div>
        </div>

        <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
                <button
                    class="shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button" 
                    id="ConnectBtn"
                    onclick="Connect()">
                    Connect
                </button>
            </div>
        </div>
    </form>

        <div class="md:flex mb-6">
            <h2 class="block text-black-600 font-bold md:text-left mb-3 mt-3 md:mb-0 pr-4">Saved networks</h2>
        </div>
        <% wifi.listOfNetworksOfWpaFile.forEach(element => { %>
            <div class="md:flex  mb-6" id="<%= "savedNetwork_" + element.SSID %>">
                    <div class="md:w-1/3"></div>
                    <div class="md:w-2/3">
                        <input class="form-input block w-full focus:bg-white" disabled type="text"
                            value="<%= element.SSID + (element.SSID == wifi.connectedNetwork ? "\t-\tcurrently connected": "") %>"
                        >
                    </div>
                    <button 
                        class="shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 ml-6 rounded"
                        id='<%= element.SSID + "-wpaListBtn" %>'
                        onclick="doubleClickRemoveBtn(removeNetworkInWpa, '<%= element.SSID %>' ,'<%= element.SSID + `-wpaListBtn` %>')">
                        Delete
                    </button>
            </div>
        <% }); %>
        <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3"></div>
        </div>
    <script>
        pskTypeChanged();        // when loaded, check if radio button is checked

        function pskTypeChanged(){
            noPSK = document.getElementById('noPSK')
            PSKContainer = document.getElementById('PSKContainer')
            if(noPSK.checked){
                PSKContainer.classList.add('hidden')
                PSKContainer.classList.remove('md:flex')
            } else {
                PSKContainer.classList.remove('hidden')
                PSKContainer.classList.add('md:flex')
            }
        }

        function Connect() {
            clearMessage('WifiErrorMessageContainer', 'WifiErrorMessage')
            clearMessage('WifiSuccessMessageContainer', 'WifiSuccessMessage')
            const SSID = document.getElementById('SSID')
            const PSK = document.getElementById('PSK')
            const noPSK = document.getElementById('noPSK')
            const networkCredentials = { SSID: SSID.value, PSK: PSK.value, noPSK: noPSK.checked }
            var btn = document.getElementById("ConnectBtn");
            btn.classList.remove("bg-red-700");
            btn.classList.remove("hover:bg-red-500");
            btn.classList.add("bg-green-600");
            btn.classList.add("hover:bg-green-500");
            btn.innerText = "Connecting...."
            axios.post('/connect', networkCredentials).then((res) => {
                SSID.value = res.data.SSID
                PSK.value = ""
            }).then(() => {
                setMessage('WifiSuccessMessageContainer', 'WifiSuccessMessage', 'Successfull connected to network')
                clearMessage('WifiErrorMessageContainer', 'WifiErrorMessage')
                var btn = document.getElementById("ConnectBtn");
                btn.classList.add("bg-red-700");
                btn.classList.add("hover:bg-red-500");
                btn.classList.remove("bg-green-600");
                btn.classList.remove("hover:bg-green-500");
                btn.innerText = "Connect"
            }).catch(() => {
                setMessage('WifiErrorMessageContainer', 'WifiErrorMessage', 'Something went wrong!')
                clearMessage('WifiSuccessMessageContainer', 'WifiSuccessMessage')
                var btn = document.getElementById("ConnectBtn");
                btn.classList.add("bg-red-700");
                btn.classList.add("hover:bg-red-500");
                btn.classList.remove("bg-green-600");
                btn.classList.remove("hover:bg-green-500");
                btn.innerText = "Connect"
            })
        }

        function removeNetworkInWpa(SSID_ID) {
            const data = {SSID: SSID_ID}
            axios.post('/deleteNetwork', data).then((res) => {
            }).then(() => {
                // remove div from website
                const id = "savedNetwork_" + SSID_ID
                const div = document.getElementById(id);
                div.remove();
            }).catch(() => {
                
            })
        }
        
      function doubleClickRemoveBtn(func, ssid, id) {
        var btn = document.getElementById(id);
        if(btn.classList.contains("doubleClick")) {
          func(ssid);
        } else {
          btn.classList.remove("bg-red-700");
          btn.classList.remove("hover:bg-red-600");
          btn.classList.add("bg-yellow-600");
          btn.classList.add("hover:bg-yellow-500");
          btn.innerText = "Sure?";
          // add class so we can see that btn has already been clicked
          btn.classList.add("doubleClick");
          setTimeout(() => {
            var btn = document.getElementById(id);
            btn.classList.remove("bg-yellow-600");
            btn.classList.remove("hover:bg-yellow-500");
            btn.classList.add("bg-red-700");
            btn.classList.add("hover:bg-red-500");
            btn.innerText = "Delete";
            // remove the class so user will need to double click again
            if(btn.classList.contains("doubleClick"))
              btn.classList.remove("doubleClick");
          }, 2000)
        }
      }

    </script>

</div>
<!--/Card-->